.slideshow {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.slideshow-image {
    width: 100%;
    border-radius: 5px;
}

.slideshow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
}

.slideshow-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slideshow-button:first-of-type {
    left: 10px;
}

.slideshow-button:last-of-type {
    right: 10px;
}
