.catalog-page {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #2C394C;
    padding: 20px;
}

.catalog-item {
    border: 1px solid #908388;
    padding: 10px;
    text-align: center;
    width: 200px;
    background-color: #5B3F3A;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.catalog-item img {
    max-width: 100%;
    height: auto;
}

.catalog-item-name {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    color: #63DAFC;
}

.catalog-item-price {
    font-size: 16px;
    color: #1D719D;
    margin-bottom: 15px;
}
