.post-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #2C394C;
}

.post {
    background-color: #020008;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    transition: transform 0.2s ease-in-out;
}

.post:hover {
    transform: scale(1.02);
}

.post img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.post h2 {
    margin-top: 0;
    font-size: 24px;
    color: #63DAFC;
}

.post p {
    margin: 10px 0 0;
    font-size: 16px;
    color: #908388;
}
