.home {
    text-align: center;
    padding: 50px;
    background-color: #E6E6FA;
}

.home-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: #FFFFFF;
    background-color: #FF7F50;
    text-decoration: none;
    border-radius: 5px;
}

.home-link:hover {
    background-color: #FF4500;
}