.item-details {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #2C394C;
    color: #63DAFC;
    text-align: center;
    flex-wrap: wrap;
}

.item-details .item-image {
    max-width: 40vw;
    height: auto;
    border-radius: 5px;
    margin-right: 30px;
    margin-top: 20px;
    position: relative;
    top: 20px;
    left: 125px;
    flex: 1;
}

.item-details .item-info {
    max-width: 50vw;
    margin: 0 auto;
    text-align: left;
}

.item-details h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #63DAFC;
}

.item-details .item-info h2 {
    font-size: 2em;
    color: #1D719D;
}

.item-details .item-info p {
    font-size: 1.2em;
    color: #908388;
}

.item-details .item-info .price {
    font-size: 1.5em;
    color: #63DAFC;
    margin-top: 10px;
}

.item-details button {
    padding: 10px 20px;
    background-color: #5B3F3A;
    color: #63DAFC;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.item-details button:hover {
    background-color: #1D719D;
}

.item-options {
    text-align: left;
}

.item-colors, .item-sizes {
    margin-top: 10px;
}

.color-button, .size-button {
    border: 1px solid #5B3F3A;
    background-color: #2C394C;
    color: #63DAFC;
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

.color-button.selected, .size-button.selected {
    border: 2px solid #1D719D;
    background-color: #1D719D;
    color: #ffffff;
}

.item-quantity {
    margin-top: 10px;
}
