.header {
    background-color: #020008;
    color: #63DAFC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo h1 {
    margin: 0;
    font-size: 1.5em;
    color: #1D719D;
}

.nav a {
    color: #63DAFC;
    margin-left: 20px;
    text-decoration: none;
}

.nav a:hover {
    color: #5B3F3A;
}

.cart a {
    color: #1D719D;
    text-decoration: none;
}

.cart a:hover {
    color: #908388;
}

.logout-button {
    background-color: #5B3F3A;
    color: #FFFFFF;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 50px;
}

.logout-button:hover {
    background-color: #908388;
    color: #FFFFFF;
}